.MediaPage {
    display: grid;  
    grid-template-columns: 1fr;
    gap: 1%;
    grid-template-rows: auto;
    text-align: center;
    margin: 50px;
    color: white;  
    -webkit-text-stroke: 1% black; 
    font-size: 40px;
}

.ImageObj {
    border-radius: 30px;
    transition: transform 0.1s;
    padding-top: 0.75em;
    margin: 0 auto;
    width: 50%;

}

.ImageObj:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transition: scale(1.5);
}

